@tailwind base;

html {
  background-color: theme('colors.bg');
  color: theme('colors.text');
  font-family: theme('fontFamily.text');
  font-weight: 400;
  font-size: 36px;
  @apply .antialiased;
  @apply .leading-snug;
}

.anim-scale {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.anim-scale:hover {
  transform: scale(1.1);
}

@tailwind components;

@tailwind utilities;
